<html>
    <head>
        <title>My programming Blog!</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My programming Blog!</a></h1>
        </div>

        <div>
            <p>published: 25.02.2020, 12:19</p>
            <h2><a href="">My first post</a></h2>
            <p>Today i'm using the HTML for the first time. Lets see what goes after that, right?</p>
        </div>

        <div>
            <p>published: 25.02.2020, 12:20</p>
            <h2><a href="">My second post</a></h2>
            <p>Well, i have just hosted the web-site on the <strong>pythonanywhere.com.</strong> Hopefully i will reach something greater in the nearest future!</p>
        </div>
    </body>
</html>